canvas {
	border: 1px dashed black;
	float: left;
	background: gray;
}

#difficulty {
	background-color: white;
}

#snakeColor {
	background-color: white;
}

#chuckNorrisMode {
	background-color: white;
}

#reset {
	background-color: white;
}

#menu {
	float: left;
	width: 100px;
	height: 600px;
	margin-left: 5px;
	background-color: white;
}

.button {
	width: 100px;
	height: 99px;
	margin-bottom: 0px;
	background-color: white;
}