canvas {
	border: none;
	float: left;
	background: silver;
}

#difficulty {

}

#snakeColor {
	background-image: url("button-color-blue.png");
}

#chuckNorrisMode {

}

#reset {

}

#menu {
	float: left;
	width: 100px;
	height: 600px;
	margin-left: 5px;
	background-color: white;
}

.button {
	width: 100px;
	height: 100px;
	margin-bottom: 0px;
	background-color: white;
	outline: none;
	border: none;
}